[2015-09-20 12:27] filcuc opened #1 "Doc should be updated after the split of repos from DOtherSide project"
The doc should be updated with the build instructions

[2015-09-20 12:30] filcuc opened #2 "Renable loading of the DOtherSide lib through dynlib instead of linking"
Currently i hit some Qt crash with the GtkTheme when an executable load Qt through the DOtherSide.so dynamically. This never happen when the DOtherSide lib is linked by the compiler.
the problem should be investigated inside Qt. For now we disable the dynlib and require explicit linking.

[2015-12-06 11:23] filcuc opened #3 "Add bindings for the QResource and QUrl"
Supported has been added in the DOtherSide C library and dqml. Add support also in nimqml

[2016-03-07 05:43] Druage opened #4 "Why is this setter a slot?"
https://github.com/filcuc/nimqml/blob/master/examples/qtobjectmacro/contact.nim#L21

This does not need to be a slot for the Q_PROPERTY to be able to access it.

Also for further questions like these, would you prefer me to just submit a pull request or open more issues?

[2016-03-07 12:37] filcuc commented on #4
The short answer: it need to be a slot for a limit in the current implementation.
The long answer:
Currently the QtObject macro generates a onSlotCalled method. This method dispatch a slot invokation to the appropiate proc or method and generates its body by looking at the proc/methos tagged with the {.slot.} pragma. In the C++ DOtherSide library everytime a property is read/write the onSlotCalled

[2016-10-11 02:09] leiserfg opened #6 "{.slot.} directive does not work well on nim 0.15"
In all place it's used, the nim compiler shows an error like:
[code]

[2016-10-11 20:57] filcuc commented on #6
thank you for reporting this. I'll look at it

[2016-10-11 22:03] #6 closed

[2016-10-11 22:11] filcuc commented on #3
QResource support was added in ac8c2422e01e8d5ce6fe941dbc0e24427aae57ad

[2016-10-11 22:12] filcuc commented on #3
QUrl support was added in fb70f5dcba049c34501951fc4f6e30f249383603

[2016-10-11 22:12] #3 closed

[2016-10-12 02:19] leiserfg commented on #6
I try it, and it's work well! Thanks.

[2016-10-12 02:20] leiserfg commented on #6
I try it, and it's work well! Thanks.

[2017-04-19 21:03] gcat432 opened #7 "Opening a program doesn't works"
I am playing with Nim and DOtherSide on an unofficially supported Linux distribution ([Void Linux](http://www.voidlinux.eu/)) and I tried to package the library. A compiled Nim program doesn't run without the devel version of the package.

### DOtherSide packaging

You can check the recipe here: https://github.com/voidlinux/void-packages/blob/e493813188cde0afdda5e43d87446b64ab0e2181/srcpkgs/dother

[2017-04-19 21:40] filcuc commented on #7
Hello first thank you for the packaging effort.

For the first issue it seems to me that the problem is due to linking the x86 Qt while compiling on Arm but i don't know your build system. When i cross compile with CMake i usually use a CMAKE_TOOLCHAIN_FILE and set CMAKE_FIND_ROOT_PATH_MODE_LIBRARY to ONLY in this way i'm sure that the libraries are searched only in CMAKE_FIND_ROOT_PATH  (where th

[2017-04-19 21:54] filcuc commented on #7
Wait i'm not following you. Are you talking about packaging DOtherSide (the C library)  or NimQml (the Nim wrapper around DOtherSide) ?
Because IMHO NimQml shouldn't be packaged at all if you work with Nimble (the Nim package manager). Given that i think that NimQml should be treated like .c or .h files (if you want to package it): they should be put in a standard search path where the Nim compile

[2017-04-19 21:58] gangsterakato commented on #7
I'm speaking about DOtherSide packaging. I was responding to:

So, yes, nimqml (even the head version) works with the DOtherSide 0.6.2 package (only devel version though). I work with Nimble and use it for nimqml. Just that nimqml requires DOtherSide to work, of course.

I am just asking that I think the normal version of the package should install the .so files and the devel version should instal

[2017-04-20 15:53] filcuc commented on #7
@gangsterakato  please double check that you're not linking the x86 libraries

[2017-04-21 12:47] Duncaen commented on #7
https://github.com/filcuc/nimqml/blob/0.7.0/src/private/dotherside.nim#L10 it should use the real versioned shared library, not the symlink.
@gangsterakato the fix is wrong, unversioned shared libraries are part of the devel packages.

[2017-04-21 14:30] filcuc commented on #7
@Duncaen ok

[2017-04-21 15:07] Duncaen commented on #7
I never used nim, but this is how they do it for their internal wrappers, https://github.com/nim-lang/Nim/blob/devel/lib/wrappers/openssl.nim#L29 as example, they use patterns for the versioned shared object.
But to be honest, this doesn't feel correct and the compiler or linker should handle this, like it is done with c/c++, it uses the .so but notices that its a link and then uses the file name

[2017-04-21 15:57] filcuc commented on #7
@Duncaen what you say implies linking the program at compile time. But this is not case for most wrappers on Nim where the dlopen method is preferred.
that said, i will fix the so version on the .nim file by using DOtherSide.so.0.6 for example (so i will use the major number and not libDOtherSide.so.0.6.2) otherwise programs will stop to work every minor release.

[2017-06-25 11:31] arcvsduo opened #8 "Changing Qt Quick Controls Style"
Hello,

is there any way to change Qt Quick Controls style, besides using enviroment variable?

I can't find any way to pass arguments to Qt and binding for QQuickStyle::setStyle() is not available either.

[2017-06-25 17:04] filcuc commented on #8
i will expose the argc, argv to Q{Core, Gui, }Application and QQuickStyle in DOtherSide

[2017-06-25 17:11] filcuc commented on #8
Opened https://github.com/filcuc/DOtherSide/issues/63

[2017-06-25 19:14] arcvsduo commented on #8
Cool, thanks!

[2018-01-10 14:18] survivorm opened #12 "Add nimble tags"
Please, add nimble tags to your project, for now it can be found via "qt" search, for example, but not via "gui"

[2018-01-10 14:20] survivorm commented on #12
Strange. Nimble finds nimqml by tag gui. Nimble.directory doesn't

[2018-01-11 07:39] survivorm commented on #12
Looks like the error is in directory, search is case-sensitive there. Closing issue

[2018-01-11 07:39] #12 closed

[2018-02-26 18:58] r3d9u11 opened #13 "Installation warning"
How. This library is active and will support in future? I have notice in installation:
[code]

[2018-02-26 19:19] filcuc commented on #13
Yes i will fix. The actual project structure was the correct structure in
previous nimble versions. The convention changes in last nimble releases.
That said it's just a warning I don't think it blocks you

Il 26 Feb 2018 7:58 PM, "r3d9u11" <notifications@github.com> ha scritto:

[2018-02-26 19:26] r3d9u11 commented on #13
@filcuc It is not blocked me, not yet. But "This will be an error in the future.", so I'm asking about future of this library :)

[2018-02-26 19:40] r3d9u11 commented on #13
@filcuc also, is it possible to use non-standard path to Qt? (I have installed it to /home/username/Qt via online-installer qt-unified-linux-x64-3.0.2-online.run)

[2018-02-26 20:21] filcuc commented on #13
Fixed in 61d2cd0f93d20960e0a259b79c4e0ec0f4a3d648

[2018-02-26 20:21] #13 closed

[2018-03-02 11:58] r3d9u11 opened #14 "Need help/advice with QtCharts"
Hi. I have a simple project in QML with one Char and LineSeries:
main.qml
[code]
So, can I feel this "LineSeries" directly from Nim?
I must do something like in [this example of C++ code](https://forum.qt.io/post/444795):
[code]
In fact, I need to call method `LineSeries->append(arrX[i],arrY[i]);` directly from Nim.
Is it possible?

Thanks.

[2018-03-02 22:25] filcuc opened #15 "QAbstractTableModel rowCount doesn't work"
Trying to create an example for #14 using a QAbstractTableModel subclass the rowCount callback is not called. Instead using a QAbstractListModel with a custom column count works.

[2018-03-02 22:25] #14 closed

[2018-03-03 09:32] filcuc commented on #14
@r3d9u11 I futher improved the example by showing you how to add dynamic points 570027c23121a1c965a7e8c7a665b7b6a7347e47

[2018-03-03 11:08] r3d9u11 commented on #14
@filcuc many thanks, it's very useful!

[2018-03-03 15:47] #15 closed

[2018-03-03 15:54] filcuc commented on #14
@r3d9u11 Fixed the issue with table models

[2018-03-03 16:32] r3d9u11 commented on #14
@filcuc thanks! does library with latest changes available in nimble?

[2018-03-03 16:37] r3d9u11 opened #16 "Static compilation"
Hi. Is it possible to build a standalone application? I mean compile nim-application statically with qt-libs and libDOtherSide (and *.qml files)?

[2018-03-03 16:58] filcuc commented on #14
Yes published latest version

Il 03 Mar 2018 5:32 PM, "r3d9u11" <notifications@github.com> ha scritto:

[2018-03-03 17:02] filcuc commented on #16
No official support right now. But yes it is possible. Keep in mind that
libdotherside is lgpl

Il 03 Mar 2018 5:37 PM, "r3d9u11" <notifications@github.com> ha scritto:

[2018-03-03 17:16] r3d9u11 commented on #16
@filcuc Well, I always make my software under MIT license and share source code for target user(s). I think it completely compatible with LGPL :)

[2018-03-03 17:16] #16 closed

[2018-03-04 16:14] r3d9u11 opened #17 "Something wrong with textfield's width"
Hi. I tried to make a simple form with in QtCreator:
![screenshot at 2018-03-04 19-11-36](https://user-images.githubusercontent.com/15020827/36947658-3ed0738e-1fe0-11e8-9bbb-9cdb8d7599f6.png)
compiled application:
![screenshot at 2018-03-04 19-12-02](https://user-images.githubusercontent.com/15020827/36947662-4adce162-1fe0-11e8-9183-6e30fdad1f9d.png)
![screenshot at 2018-03-04 19-12-16](https://us

[2018-03-05 15:06] r3d9u11 opened #18 "need clarification of "QVariant: delete""
Hi. I tried to take out window's initialization code to separated proc, but application crashed:
main.nim:
[code]
crashes when button clicked (`onClicked: mainWindow.btnClicked()`)

and this code works fine:
[code]
[simple_app.zip](https://github.com/filcuc/nimqml/files/1781332/simple_app.zip)

What differents?
Thanks.

[2018-03-05 16:51] r3d9u11 commented on #18
[code]
it works

here is mainWindow.nim:
[code]

[2018-03-05 17:40] filcuc commented on #17
I tried the example here and i see the correct width.
Maybe the wrong width is due to the usage of a different style or dpi scaling?

[2018-03-05 17:41] filcuc commented on #17
that said i think that this is unrelated to nimqml or dotherside.
Another thing that comes to my mind could be the usage of different QtQuick.Controls 2 style

[2018-03-05 17:42] filcuc commented on #18
I will check asap

[2018-03-05 17:49] r3d9u11 commented on #17
@filcuc yes, I have a lot of warnings:
[code]
so, I close this issue

[2018-03-05 17:49] #17 closed

[2018-03-05 18:45] filcuc commented on #18
For the first example you have the same behaviour as you would have written the following code in c++
[code]

[code]

Mind the delete of the logic. Basically you are deleting the QObject from the QML engine and you app will crash. This caused by the fact that the QML engine doesn't keep track of the QObject injected with a `rootContext().setContextProperty()` So the error is not in the QVariant bu

[2018-03-05 18:48] filcuc commented on #18
longer explanation coming.. :D (give me an hour)

[2018-03-05 21:41] filcuc commented on #18
In contrast the following code doesn't crash

[code]
[code]
The reason why this example doesn't crash comes in how the QML engine handle QtObject properties. In this case we write the Window logic property with the QObject pointer created in main but now the QQmlEngine keeps track of QObject deletion (thus the qml example doesn't crash).
In other words in this case the Qml creates a QPointer/QWeak

[2018-03-05 21:44] filcuc commented on #18
For concluding your crashes are due to the fact that you delete the QObject logic too early. In general the QObject you inject in main should last longer than the QQmlEngine

[2018-03-05 21:44] #18 closed

[2018-03-06 06:41] r3d9u11 commented on #18
@filcuc many thanks! it became a little clearer :)

[2018-03-06 08:27] r3d9u11 opened #19 "How to process key-events?"
@filcuc Hi. Is it possible to process key-events of TextField?
Specially, how to cancel append of key?
For example qml:
[code]
nim-handler:
[code]

I think theme can be resolved inside QML (via functions/connections).

I'll close this issue, but theme is interest: is it possible to process with QML object in Nim-side (for example get or set some property at runtime by it's name)?

[2018-03-06 13:23] #19 closed

[2018-03-11 13:31] r3d9u11 opened #20 "QtProperty->notify don't fire on TextField text changed"
Hi. How to fire event QtProperty->notify after text of TextField was changed?

mainWindow.qml:
[code]
mainWindow.nim:
[code]

[2018-03-11 14:54] r3d9u11 commented on #20
solved via `onTextEdited: mainWindow.messageText = textField.text`

[2018-03-11 14:54] #20 closed

[2018-03-15 14:17] r3d9u11 opened #21 "Async freezes in nimqml-application"
Hi. I strange behavior of async/await operaions, when I called into nimqml-signal.
ChatServer freezes at server.nim:38
[chat_server_app.zip](https://github.com/filcuc/nimqml/files/1815691/chat_server_app.zip)

Here is client for test:
[async_client_server.zip](https://github.com/filcuc/nimqml/files/1815693/async_client_server.zip)
(also in this client can be tested server.nim without nimqml and it

[2018-03-15 14:36] dom96 commented on #21
I haven't looked at your code, but I'm guessing you haven't properly integrated into the nimqml event loop? You likely need to call some sort of QML poll function together with the ``asyncdispatch`` ``poll`` function.

[2018-03-15 14:50] r3d9u11 commented on #21
@dom96 well, what I trying to do:
1) to start server:
[code]
2) after button clicked  will called procedure 'start':
[code]
3) then to launch async task 'loop', who will wait for clients:
[code]
4) and as result output I have:
[code]
nothing more...
client tells me about successfully connection, but server doesn't go to next line `echo 222222222`

[2018-03-15 15:32] filcuc commented on #21
@r3d9u11 @dom96

Qt is not made (usually) for being called by other threads and you must be careful on doing that.
Usually Qt should "own" the main thread for multiple reasons (initialization of static QtObjects in .so libraries that must be destroyed on app exit thus on the same thread).
Honestly i don't have a lot of experience in integrating Qt with other event loops. The best approach is to se

[2018-03-15 15:44] r3d9u11 commented on #21
@filcuc there is no multithreading, async/await is singlethreaded

[2018-03-15 16:10] r3d9u11 commented on #21
@filcuc thanks for hint, I'll try to play with threading. but I'll leave this issue to be open, yet

[2018-03-15 17:10] r3d9u11 commented on #21
@dom96 async procedures isn't GC safe?

[2018-03-15 17:22] dom96 commented on #21
You can write ``{.async, gcsafe.}``, no?

[2018-03-15 17:29] r3d9u11 commented on #21
@dom96 yes, thanks! (sorry I'm a novice in Nim, yet)

[2018-03-16 18:47] filcuc commented on #21
@r3d9u11 @dom96
probably i've just to export the QApplication::processEvents() in the DOtherSide library

[2018-03-19 08:50] r3d9u11 commented on #21
@filcuc can it help to solve this situation?

[2018-03-19 10:05] filcuc commented on #21
I will give it a look asap

[2018-06-06 11:58] r3d9u11 opened #22 "App crashed on startup"
Hi. Do you have any ideas, why all nimqml application crashed on startup? Thanks.
Linux Mint 18.3 x64
Log:
[code]

[2018-06-06 13:36] filcuc commented on #22
Sure i will check it asap but i need some info from you:
1) Qt version installed
2) Nim version
3) NimQml version
thanks

[2018-06-06 14:17] r3d9u11 commented on #22
@filcuc Qt 5.11.0
Nim 0.18.0 (installed by choosenim)
NimQml latest from git (installed by nimble)
DOtherSide also latest from git

P.S.: All worked fine yesterday, I don't understand what happens today. However, today I installed some updates for Linux Mint via UpdateManager.

[2018-06-07 05:47] r3d9u11 commented on #22
@filcuc I tried just now QtCreator. C++/QML application works fine and doesn't show any messages in terminal

[2018-06-07 11:15] r3d9u11 commented on #22
@filcuc this bad situation is associated with proprietary Nvidia drivers. I switched driver to opensource x-org driver and application with NimQML and DOtherside works fine

[2018-06-07 15:50] filcuc commented on #22
mh i've a pc with a nvidia driver installed..i'll try there and report back to you

[2019-06-05 05:39] #22 closed

[2019-06-05 05:56] #4 closed

[2019-10-03 22:17] filcuc commented on #1
Closed in 5c42890e5b14b7d84a2345b060d1b54bfb7aed1b

[2019-10-03 22:17] #1 closed

[2019-10-03 22:20] filcuc commented on #7
Done a long time ago

[2019-10-03 22:20] #7 closed

[2019-10-03 22:22] filcuc commented on #2
Done a long time ago

[2019-10-03 22:22] #2 closed

[2019-10-03 22:23] filcuc commented on #2
See 5d0c7d796eb30351484fb679684d17651cdb53f0

[2019-10-03 22:57] filcuc commented on #21
with https://github.com/filcuc/DOtherSide/commit/b6fcb521bfbf78607dd7d571518367f74c21277e in place i can proceed and fix this issue

[2019-10-04 07:21] r3d9u11 commented on #21
@filcuc
great news!
can I close this issue?

[2019-10-04 08:52] filcuc commented on #21
No yet. I'll close this one when i add the bindings in NimQml. After that i
would like to create a test project that integrates nim async with Qt event
loop. Let's see if it's feasible.

Il giorno ven 4 ott 2019 alle ore 09:21 r3d9u11 <notifications@github.com>
ha scritto:

--
Filippo Cucchetto

[2019-12-04 12:29] juancarlospaco opened #23 "Cant load libDOtherSide.so.0.6 from current folder"
Cant load `libDOtherSide.so.0.6` from current folder.
It should be able to load it from current folder *by default*, or it is not supported?.

[code]

[2019-12-04 12:33] juancarlospaco opened #24 "Cant find libDOtherSide.so.0.6"
I installed it manually from repo, Arch Linux AUR is broken.
It cant find it on the place it installs it, then I symlinked and it works,
it seems that the `make install` installs it on a place it can not find it.

[code]

[2019-12-04 15:54] filcuc commented on #23
Usually dlopen search in system plugin paths. You can customize it by setting LD_LIBRARY_PATH or adding extra search paths in /etc/ld.so.conf .
Alternatively install libDOtherSide in /usr/lib

[2019-12-04 15:57] filcuc commented on #24
Make install of libDOtherSide install the binaries by default in /usr/local you can customize the install path by setting the proper value through CMake. Probably /usr/local/lib is not in the ld search path.
That said yes, we should need an updated package in AUR

[2019-12-04 15:57] filcuc commented on #24
(mantainers wellcome)

[2019-12-04 16:00] juancarlospaco commented on #23
Ok :grey_exclamation:

[2019-12-04 16:00] #23 closed

[2019-12-04 16:00] juancarlospaco commented on #24
Ok :grey_exclamation:

[2019-12-04 16:00] #24 closed

[2020-01-07 03:57] dawkot opened #25 "could not import: dos_qabstractitemmodel_qmetaobject"
I downloaded and built DOtherSide following the instructions multiple times, AFAIK without errors, but any nim program importing latest (git cloned or otherwise) nimqml crashes at runtime with message as in title.

[2020-01-07 07:23] filcuc commented on #25
I'll give it a look

[2020-01-07 17:00] dawkot commented on #25
These are the only functions starting with "dos_qabstract":
[code]

[2020-01-07 20:44] filcuc commented on #25
@dawkot on my machine i get
[code]

i will test with Qt 5.14 and repot

[2020-01-07 20:50] dawkot commented on #25
I moved 'libDOtherSide.so.0.6' from build/lib into /usr/lib because diff shows that they are not identical (even though both were produced by make) so I replaced the one in /usr/lib and nimqml examples are working now.

[2020-01-07 21:00] #25 closed

[2020-10-04 08:16] mantielero opened #26 "[Question] Struggling to understand *abstractitemmodel* example: setup and delete"
I am trying to understand the [abstractitemmodel](https://github.com/filcuc/nimqml/blob/5c42890e5b14b7d84a2345b060d1b54bfb7aed1b/examples/abstractitemmodel) example.

I don't get these [few lines](https://github.com/filcuc/nimqml/blob/5c42890e5b14b7d84a2345b060d1b54bfb7aed1b/examples/abstractitemmodel/mylistmodel.nim#L12-L16). When I look at the [QAbstractListModel subclassing documentation](https

[2020-10-04 11:08] filcuc commented on #26
Sadly they're needed in order to make inheritance work.
The `setup` is the corrisponding class constructor.
When creating your own subclass simply call it in your constructor method.
Delete is the same. It should be called during destruction. In nim a simply attach a delete when invoking new

[2020-10-07 08:49] #26 closed

[2020-11-10 08:32] KnorrFG opened #27 "Update to DOtherSide 0.7"
Hey,
I tried to install everything according to your tutorial, and when I wanted to compile the tutorial (with -d:nimDebugDlOpen) I got the following error message: `libDOtherSide.so.0.6: cannot open shared object file: No such file or directory` which is no surprise, because make install gave me the information:
[code]
Could you update nimqml to use the latest version?

[2020-11-10 22:06] filcuc commented on #27
Yes right now I've not updated nimqml to th latest version of dotherside. Honestly because I would liked to expose Object connections between QObjects created in the Nim. I cannot guarantee a date for when it will be ready. For now you have to build a dotherside 0.6.x release.

[2020-11-11 08:16] KnorrFG opened #28 "Examples produce Segmentation Faults"
Hey,
using DOtherSide 0.6 and and the latest nimqml, I am able to compile all examples, but when I try to run them, they will crash with a segmentation fault. I assume it's due to the installed QT version, I'm not sure. Here is a list of all installed QT-packages on my system:

[code]

Are there any known incompatibilities? Am I missing something?

[2020-11-11 08:43] filcuc commented on #28
Without a stack trace the only thing i can do it's trying to replicate the issue.
What kind of system are you using?
I need:
- distro name
- distro version
- gcc version
- nim version

[2020-11-11 09:01] KnorrFG commented on #28
Im sorry.
I use Ubuntu 20.04.1 LTS
[code]
[code]

the problem occurs with multiple versions of DOtherSide, the last one I tried with was: f5bb30f78d8aa4a048d2533342ad32583b26cd2e (0.6.3)

A few stack traces:

Simpledata:
[code]
Hello World:
[code]
Contactapp:
[code]

[2020-11-11 10:36] filcuc commented on #28
Ok, if you want to help furthermore can you recompile and install dotherside in debug? you just need to invoke cmake as follow
[code]
From the stack traces it seems an access to a nullptr. This could be also caused my something on the Nim side. Honestly i haven't tested the 1.4.0 release lately. Another test (if you have time and will) is to check with Nim 1.2.X

[2020-11-11 11:08] KnorrFG commented on #28
I rebuild DOtherSide in debug mode, but it didn't change the stack traces. I build it with the C-make flag, then ran make, make install and ldconfig, and then recompiled via nim c -rf main.

I also tested it with nim 1.2.0 and 1.2.8 still producing the same error and the same stack trace.

[2020-11-13 14:14] filcuc commented on #28
I'm unable to reproduce and after:
- compiling dotherside (0.6.5)
- installing in `/usr/local/lib`
- adjusting `LD_LIBRARY_PATH=/usr/local/lib`
- compiling examples with `nim c main.nim`
![immagine](https://user-images.githubusercontent.com/7158691/99081028-6dbe4000-25c2-11eb-8db8-9e6e3a9223e1.png)

[2020-11-13 14:23] filcuc commented on #28
@KnorrFG  can please double check if you have multiple version of dotherside library installed?

[2020-11-13 14:42] KnorrFG commented on #28
I have only manually installed it by cloning it and running make install. I checked the lib dir, and indeed there were still other versions around and the link to libDOtherSide.so.0.6 was still pointing to the 6.4 version. But I've corrected that, and it does not change anything. But I just added -d:debug to the compilation command for the hello word. So now it is `~/tmp/nimqml/examples$ nim c -rf

[2020-11-13 14:57] KnorrFG commented on #28
To provide you some more information, I just ran the hello world program through Valgrind.
To be honest, I know nothing about Valgrind, but it was given to me as a tip to investigate mysterious crashes.

This was the output:
[code]

So I don't get a lot from this, but it seems it has to do with my NVidia card. So i changed to the Intel GPU. And suddenly the examples ran. I toggled back to NVIdia a

[2020-11-13 15:44] filcuc commented on #28
If that's the reason i would aspect to see the same problem with any Qt application and not only with those created through the NimQml or DOtherSide. Can you please elaborate what you do mean with toggling the Nvidia card? are you using bumblebee?

[2020-11-13 15:48] KnorrFG commented on #28
I have QT applications installed (QTerminal for example) and those work fine. I use an Alienware 13 R2, which's HDMI port is wired to the nvidia card. So to be able to use an external monitor I have to run the X-session through the nvidia card, and consequently everything else too. I use nvidia prime to toggle between the nvidia and the intel gpu

[2020-11-13 16:23] filcuc commented on #28
QTerminal probably doesn't trigger any OpenGL stuff during rendering. QtQuick istead is a primary user of OpenGL. Can you please install qtquickcontrols2-5-examples are run any demo with the nvidia card and give a feedback. Thank you

[2020-11-13 16:37] KnorrFG commented on #28
I compiled and ran the contactlist example. It started (didn't play around with it any further).
I couldnt compile some other examples (`WARNING: Failure to find: ../shared/shared.qrc`) but since the contactlist example worked, I guess that's not that important

[2020-11-13 17:11] filcuc commented on #28
Previously we had same issues. See https://github.com/filcuc/nimqml/issues/22

[2020-11-13 17:15] KnorrFG commented on #28
I see, so nothing can be done here, and I have to switch drivers, if I want to use nimqml. Too bad :(

But thanks for your help :+1:

[2020-11-13 17:15] #28 closed

[2020-11-13 17:18] filcuc commented on #28
without the proper hardware is hard to investigate further. i would need to look at the stack trace inside Qt itself. Probably everything would work with never versions of Qt. Honestly it could have been solved already in 5.15

[2020-12-12 22:04] notchris opened #29 "Compiling for OSX Catalina"
Hello, I was able to run the examples and compile the libDOtherSide.dylib for Catalina and wanted to share the steps.

**Install deps with homebrew:**
[code]

**Link qt paths:**

[code]

**Then you need to make the libDOtherSide.dylib file:**

- Download project from repo: [dotherside](https://github.com/filcuc/dotherside)
- Follow build steps to create dylib

Hope this helps anyone who is also ne

[2021-01-05 14:49] #27 closed

[2021-02-03 19:25] levovix0 opened #30 "could not load: DOtherSide.dll"
OS Windows
I compiled dotherside (tried different compilers), moved the dll to binary dir (also tried C:\Windows\System32 and C:\Window\SysWOW64)

Standard nim's `dynlib.loadLib` returns nil. Seems like the library is located, but it can't load.

How to fix this?

[2021-02-04 06:43] filcuc commented on #30
@levovix0 you need to have also all the Qt libraries in your path. See https://wiki.qt.io/Deploy_an_Application_on_Windows

[2021-02-04 06:45] filcuc commented on #30
Another options is to use the env variables QT_PLUGIN_PATH and QML2_IMPORT_PATH
Google about them for further info.

[2021-02-04 13:26] levovix0 commented on #30
Ok, thanks, it works.
Maybe you should write about it in the doc?

[2021-02-04 13:26] #30 closed

[2021-02-09 08:02] arnetheduck opened #31 "Nim version requirement, 1.4 vs 1.2"
I noticed nim version requirement was bumped to 1.4 recently, was there a specific reason? We're using 1.2 for a number of projects for which nimqml has been really great and are not planning to migrate until later - curious what broke ;)

[2021-02-09 16:58] filcuc commented on #31
nothing really i think we can revert it to 1.2

[2021-02-09 17:06] filcuc commented on #31
Well i've just noticed that the requirements has not been set in the .nimble file it's only in the README

[2021-02-09 17:10] filcuc commented on #31
@arnetheduck can you confirm that? or have you had problems somewhere compiling the library with 1.2?

[2021-02-09 17:12] arnetheduck commented on #31
we're using a pre-bump version right now and haven't tried upgrading really, mainly because of what the readme says right now - we don't use nimble.

[2021-02-09 17:17] filcuc commented on #31
ok so nothing to worry

[2021-02-09 17:18] #31 closed

[2021-06-05 02:23] ire4ever1190 opened #34 "Cannot run with arc gc"
running the basic example with --gc:arc returns this error

[code]

[2021-11-17 18:50] arkanoid87 commented on #34
Can confirm on nim 1.6.0 running helloworld example on just compiled DOtherSide

`/home/arkanoid/.nimble/pkgs/nimqml-0.9.0/nimqml/private/qobject.nim(159, 6) Error: cannot bind another '=destroy' to: QObject:ObjectType; previous declaration was constructed here implicitly: /home/arkanoid/.choosenim/toolchains/nim-1.6.0/lib/system/arc.nim(210, 7)`

[2021-11-19 00:35] arkanoid87 opened #35 "Crash on indexCallback with QAbstractTableModel"
Hi! Thanks for this wonderful lib. I'm working with it and I find it nice to use.

I'm exploring how to link model with UI, but I'm stuck when I'm trying to create a TableView that uses Nim model with RegisterSingletonType. I'm experiencing crash on indexCallback when trying to print value via role name but I can't find where the problem is.

If I use setRootContextProperty instead of qmlRegisterS

[2021-11-19 16:21] filcuc commented on #34
Thank you for the report i'll look at it this weekend

[2021-11-19 16:22] filcuc commented on #35
Thank you for the report i'll look at it this weekend.
@arkanoid87  Can you please provide me all the versions for DOtherSide, NimQml and Nim.

[2021-11-19 16:41] arkanoid87 commented on #35
Thanks!
[code]

[2021-11-20 11:39] filcuc commented on #35
I debugged the problem yestarday evening and i got it working applying a big patch on the DOtherSide library. In pratice the use of QAbstractItemModel istantiated from qml (thus registered with qmlRegisterType or qmlRegisterSingletonType) is broken. I hope to cleanup the patch in these days. Until then you the setContextProperty

[2021-11-20 16:22] filcuc commented on #35
I've released a new DOtherSide version [v0.8.1](https://github.com/filcuc/dotherside/releases/tag/v0.8.1). @arkanoid87 this bug should be with that version. If you test again with your executable be sure to implement the `data` method otherwise you trigger your `assert`

[2021-11-20 16:22] #35 closed

[2021-11-22 23:01] arkanoid87 commented on #35
it works! Grazie!

[2021-12-04 15:12] #34 closed

[2021-12-04 15:13] filcuc commented on #34
@arkanoid87  @ire4ever1190  FYI It took me longer than expected but i think now it should work with both arc and orc

[2021-12-09 04:55] shayanhabibi opened #38 "Making Arc compatible"
From my understanding, there are no cyclical references within nimqml.

Using `new(typedesc, finalizer)` should also implicitly lift into `=destroy` procs.

From my basic fiddling, this can be pretty easily implemented already by reordering constructor and delete procs within nimqml making use of forward declarations to prevent destructors being implicitly generated before we define them using `ne

[2021-12-09 09:49] shayanhabibi commented on #38
Nevermind, this might have been relevant to an older version of nimqml but I'm not having issues at the moment with the most recent vers.

[2021-12-09 09:49] #38 closed

[2021-12-26 21:21] Dax89 opened #39 "Crash calling beginResetModel()"
Hi!

I'm trying to do a simple application so I can learn Nim by doing something fun, I've encountered a strange issue in my Qml Model:

[code]

Basically the application crashes when I call `beginResetModel()`, if I remove this function call it hangs when the `urlChanged()` signal is called in `setUrl()` function (implemented in `githubapi.nim`).

**OS and Packages versions:**
- OS: Arch Linux
-

[2021-12-27 11:13] filcuc commented on #39
Should be fixed with the latest master of DOtherSide see commit https://github.com/filcuc/dotherside/commit/41873d41e96a7665f921f66a466f89c347fe4126

[2021-12-27 13:46] Dax89 commented on #39
It works! Grazie mille :1st_place_medal:

[2021-12-27 13:46] #39 closed

[2022-01-03 03:03] arkanoid87 commented on #8
I think this should be closed

[2022-01-03 10:07] filcuc commented on #8
Am I missing something? I think we need to provide proper bindings of the
DOtherSide API in nimqml. So I would not close this one. That said it’s a
relatively easy task

Il giorno lun 3 gen 2022 alle 04:03 arkanoid87 ***@***.***>
ha scritto:

--
Filippo Cucchetto

[2022-01-03 19:02] arkanoid87 commented on #8
my fault, I saw this closed https://github.com/filcuc/dotherside/issues/63 and I though it was a dangling issue. Sure thing, it requires proper nim binding

I'm not a C++ developer nor expert in binding, is it just about adding:

[code]
and write proper

and include it in

correct?

[2022-01-03 22:38] filcuc commented on #8
Correct.

Il giorno lun 3 gen 2022 alle 20:02 arkanoid87 ***@***.***>
ha scritto:

--
Filippo Cucchetto

[2022-01-10 03:18] arkanoid87 opened #40 "How to pass variable list of coordinates from Nim to QML?"
I've a list of polygons described like
[code]

I'm trying to write QAbstractListModel for [MapItemView](https://doc.qt.io/qt-5.12/qml-qtlocation-mapitemview.html) to display those polygons, but the delegate [requires `path` to be an array of javascript objects](https://doc.qt.io/qt-5.12/qml-qtlocation-mappolygon.html#example-usage)

[code]

I'm trying to understand how to pass a seq of coordinates

[2022-01-10 17:01] arkanoid87 commented on #40
[I see that dotherside already knows about `QVariantList` ](https://github.com/filcuc/dotherside/blob/ed777c13f3791fc7072cefba9723de5dc31f455f/lib/src/DOtherSide.cpp#L516)

maybe it could be the shortest path to add this feature

[2022-01-10 19:21] arkanoid87 commented on #40
I've successfully passed a list from nim to qml by adding this to dotherside.nim
[code]

and this to qvariant.nim
[code]

returning the generated QVariant to qml via `data` method of model it ended up correctly on the other side

[2022-01-11 00:54] arkanoid87 opened #42 "Passing QVariant(QObject) with float property to QML results in wrong data"
ints and strings are OK, but float properties end up with wrong data in QML.

I've modified `slotsandproperties` example to expose this bug

append intNumber and floatNumber (read only) properties in contact.nim
[code]

print values in qml
[code]

expected output:
[code]

current output:
[code]

DOtherSide version: v0.8.2 [7b7c0a91b558b13a968c57b9647bfc15ed962ead]

I can push this to a new branch

[2022-01-11 16:11] arkanoid87 commented on #42
If I pass the same value as QVariant float, it works

adding to previous example:
[code]

[code]

results:
[code]

[2022-01-11 18:34] filcuc commented on #42
Thank you I’ll take a look as soon as possible. However due to my work day
job i can’t assure you to give this a look until this weekend

Il giorno mar 11 gen 2022 alle 17:12 arkanoid87 ***@***.***>
ha scritto:

--
Filippo Cucchetto

[2022-01-11 18:52] arkanoid87 commented on #42
np, I can use QVariant properties in the meanwhile, but actually I'm not sure how to handle memory here

[2022-01-11 23:21] filcuc commented on #42
Just store the qvariant instead of the float or store both

[2022-01-12 04:38] arkanoid87 commented on #42
I mean, I'm not sure if I should manually call delete for every QObject or QVariant instantiated on the Nim side.

In nimqml examples I generally see that:
- [QVariant objects allocated in QALM `data` method are never manually deleted](https://github.com/filcuc/nimqml/blob/4f237b485475cde9d84dd4dfbba276ff66575a15/examples/abstractitemmodel/mylistmodel.nim#L33)
- [QVariant objects allocated in main

[2022-01-16 00:25] arkanoid87 commented on #42
I'm trying to figure out some general rules when to delete QObjects and QVariants.
I'm using also the code in https://github.com/status-im/status-desktop as example. I just need some confirmation from you:
- [newQVariant returned from `method data` doesn't need to be deleted](https://github.com/status-im/status-desktop/blob/32049aa92862f5753d025336df38e1fcfec5d144/src/app/wallet/v1/views/transacti

[2022-01-16 15:05] filcuc commented on #42
@arkanoid87 simply don't delete nothing if don't need explicit deletion. This will be due automatically by nim. Otherwise if you need more deterministic deletion use ARC or ORC.
That said:
1) for qvariant that are return value of a proc is just stupid to delete them. Because they're should stay valid for all the scope of the parent stack call. i.e if i call  `model->data()` and inside data you del

[2022-01-16 15:06] filcuc commented on #42
Regarding why most of examples have the explicit delete is just because initial release of nim use a not deterministic GC. If you latest version and use ORC or ARC you will have automatic deletion of objects on scope close

[2022-01-16 15:12] filcuc commented on #42
If you test leaks with valgrind you need:
1) To understand where leaks are coming
2) Qml use a Javascript engine that is not deterministic so memory will be delete when the Javascript garbage collector wants or think it's appropriate
3) Nim 1.2 and (maybe later) don't enable reference counting gc (i.e ARC/ORC) on by default. Better to check valgrind by using this GC strategies (see nim --gc:arc/or

[2022-01-17 02:42] arkanoid87 commented on #42
just a quick example

If ARC/ORC should take care of running object finalizer when object goes out o scope, why this example does not print [`QQmlApplicationEngine: delete`](https://github.com/filcuc/nimqml/blob/aaab5dbae4ae5c22d7aab67635f24c54a7f369f6/src/nimqml/private/qqmlapplicationengine.nim#L28)?

config.nims
[code]

main.nim
[code]

main.qml
[code]

output
[code]

QQmlApplicationEngine dele

[2022-01-17 07:32] filcuc commented on #42
@arkanoid87 can we create a new topic regarding leaks instead of injecting this one? sorry but it's excaliting to another issue instead of the float/qvariant.
That said we need to ask to Nim compiler devs what's going on...seems like a compiler issue imho. NimQml is compiled in one big module since all its parts are "included" (instead of imported) in the nimqml.nim module.
That said i can give it

[2022-01-17 07:41] filcuc commented on #42
@arkanoid87  Switching from finalizers to destructors is impossible without breaking existing code. The problem is due to destructors taking a `var T` but finalizers `ref T`.

[2022-01-17 08:12] arkanoid87 commented on #42
I'm already doing some experiments on this

case n==0: destroy can be declared on base `non-ref` type and it would be called on ref object dealloc, it is possible to call parent destroy
case n==1: finalizer is called on leaf (real) type only and seems not possible to easily call parent finalizer without additional code

[code]

[2022-01-17 08:13] arkanoid87 commented on #42
ok, moving previos post to new issue

[2022-01-17 08:23] arkanoid87 opened #43 "`delete` not called with ARC/ORC due to forward proc declaration + RootObj"
Following https://github.com/filcuc/nimqml/issues/42

Using forward declaration of finalizer (`delete`) function causes bug that silently skips finalizer call with `--gc:arc`
Possible solutions:
- fix compiler: not backward compatible unless backport
- refactor code to avoid forward declaration: possibly backward compatible

I see that the code does not follow `import` pattern but is just a single

[2022-01-17 08:25] arkanoid87 commented on #43
position of forward declarations:

[code]

[2022-01-17 08:37] filcuc commented on #43
Client users that use NimQml already created their `delete` methods that are called from the base class finalizers. This `delete` methods take a `ref T` argument thus they're not callable from a `destroy` destructors. It's not possible to switch to destructors without breaking existing client code. The problem is probably in the compiler. I would wait for a fix for https://github.com/nim-lang/Nim/

[2022-01-17 09:28] arkanoid87 opened #44 "LGPL license makes hard to use NimQml in proprietary code for technical reason"
Following forum thread: https://forum.nim-lang.org/t/8816

There's currently no automated way to generate interface (C headers like) of a nim library to dynamically link it with nim projects.
There's also no clear separation between object files containing the LGPL code and the rest of the code.

This makes technically hard to fulfill LGPL requirements when linking with proprietary code.

@filcuc

[2022-01-17 09:35] arkanoid87 commented on #43
do we really have to wait a fix in nim compiler if a working solution seems to exist just by avoiding forward declarations of finalizers?

### Custom finalizer not being called
--gc:arc
[code]
[code]

### Working code
--gc:arc
[code]
[code]

[2022-01-17 10:26] filcuc commented on #43
@arkanoid87  No i'm ok in a workaround. Maybe i'm wrong but i recall having some issue in removing the finalizers forward declarations. Compiler seemed buggy in there. I had some bikeshedding and for example i had to remove the forwad declaration for the QObject (see https://github.com/filcuc/nimqml/blob/4f237b485475cde9d84dd4dfbba276ff66575a15/src/nimqml/private/constructors.nim#L3)
I can give a

[2022-01-17 10:43] arkanoid87 commented on #44
Thanks you for enabling this.

Are you also considering switching license to avoid writing exceptions for LGPL?

[2022-01-17 11:41] filcuc commented on #44
maybe...but i would prefer to simply add the exception

[2022-01-17 13:16] Yardanico commented on #44
@filcuc IANAL but I really don't think that adding such an exception to LGPL makes sense - you'll completely change the license by that single exception, and I don't even know if it'll still be valid. I also think it's much easier to just change the license

[2022-01-17 14:23] filcuc commented on #44
@Yardanico  0mq have this kind of exception (see https://github.com/zeromq/libzmq/blob/master/COPYING.LESSER) same for wxwidgets

[2022-01-17 14:25] filcuc commented on #44
that said i'm not a laywer too and effectively http://wiki.zeromq.org/area:licensing writes that they've intention to move to MPLv2

[2022-01-18 08:39] arkanoid87 commented on #43
I think this has to be tackled first

Compiles and runs with refc, doesn't compile with arc.
Is this the source of forward declarations / bikeshedding?

[code]

--gc:refc
[code]

--gc:arc
[code]

[2022-01-21 17:23] arkanoid87 commented on #43
good news, the nim issue has been tagged as showstopper

[2022-01-22 09:16] #44 closed

[2022-01-22 18:17] arkanoid87 commented on #44
thanks!

[2022-01-27 11:31] arkanoid87 commented on #43
@xflywind suggested to add `{.experimental: "codeReordering".}` on module to fix, this would also remove the need for forward declarations
https://github.com/nim-lang/Nim/issues/19402#issuecomment-1022921122

problem is that I've tried to add it on top of constructors.nim and qqmlapplicationengine.nim but this code:

--gc:arc
--d:debug
[code]

doesn't print `NimQml: QQmlApplicationEngine: delete`,

[2022-01-27 13:08] filcuc commented on #43
the feature is experimental for a reason i would say...we need a proper fix with forward declarations imho

[2022-01-27 13:32] arkanoid87 commented on #43
before I try removing the forward declarations by lot of refactoring, would you consider the change of `setup` and `delete` from `proc` to `method` or using destructors instead of finalizers?

[2022-01-27 13:49] filcuc commented on #43
i don't get why you want those changes and why it metters here. Again this is a compiler problem not of NimQml. If ORC/ARC is broken is not our fault

[2022-01-27 14:03] arkanoid87 commented on #43
because current nimqml code is silently leaking memory with ORC/ARC.

We can wait a compiler fix, or actually handle this.
I think it is possible to avoid forwarding declarations and replace the `include` approach with an proper `import` one that's more nim style

[2022-01-27 14:14] filcuc commented on #43
The leaks are due to the compiler generated code not again due to NimQml. Just use refc since it's the default GC even for Nim 1.6. The use of include has been necessary due to Nim not handling cyclic dependencies and cyclic imports. The NimQml codebase has changed quite a bit since the time i had to switch using includes. Feel free to try but i can assure you that the use includes was due to the

[2022-01-27 14:17] filcuc commented on #43
I would not accept:
- changing  setup and delete to be methods
- changing the signature of setup/delete due to destructors needing a `var` argument instead of a ref
- having different setup/methods specific for supporting arc/orc

[2022-01-27 16:38] arkanoid87 commented on #43
spotted the showstopper I was not expecting:
```Error: type bound operation `delete` can be defined only in the same module with its type```

This triggers a chain reaction that stops me from willing to refactor the code:
a module re-design without cyclic dependencies is probably possible by splitting the shared code between two modules into a third new module that the two imports, but the require

[2022-01-29 22:25] arkanoid87 commented on #43
thanks to the help received from nim community, I've learned that is possible to use late import to overcome the recursive module dependency issue, and that mostly worked apart from a couple of modules. This has enabled the possibility to return all type declarations to each module, and replace include with imports.

The show stopper is now this pattern that wants user to call parent destructor/fi

[2022-01-29 22:41] arkanoid87 commented on #43
In the meantime I suggest to use `defined(gcDestructors)` to trigger compile error if ARC/ORC is used, as nimqml it will silently leak memory and trigger hard-to-find problems otherwise

[2022-07-03 16:30] Behkar opened #45 "libDOtherSide is not detected"
libDOtherSide is not detected even after compiling dotherside and installing nimqml via nimble!
error code:
./main
could not load: libDOtherSide.so.0.8
(compile with -d:nimDebugDlOpen for more information)

Even with the path it can't detect:
export LD_LIBRARY_PATH=/usr/local/lib/libDOtherSide.so.0.8
or
export LD_LIBRARY_PATH=/usr/local/lib/libDOtherSide.so

While I checked the libraries there are

[2022-07-05 06:50] #45 closed

[2022-07-05 17:11] Behkar commented on #45
Thanks , The problem was that qt-default was not installed on ubuntu 20.04.
Unfortunately, there is no qt-default package on Ubuntu 22.04!

[2022-09-03 18:29] ShalokShalom opened #46 "documentation: destructors and defer"
The documentation shows that we need defer all the time.

[code]

http://filcuc.github.io/nimqml/

Destructors seem to make that superflous. Is this already implemented and the documentation outdated?

Or is it not implementated yet and are you interested in doing that?

Thanks

[2022-09-11 15:03] #42 closed

[2022-09-11 15:06] filcuc commented on #29
Moved this info into a separate wiki page

[2022-09-11 15:06] #29 closed

[2022-09-11 15:08] filcuc commented on #46
@ShalokShalom orc support has been added time ago but is blocked by https://github.com/nim-lang/Nim/issues/19402

[2022-11-11 23:47] ShalokShalom commented on #46
This was closed and merged at the 27.9

[2022-11-12 17:17] filcuc commented on #46
@ShalokShalom  yes we can cleanup the code...but we need also to require a higher compiler version...dunno if i'm willing to do it though

[2022-11-12 21:51] ShalokShalom commented on #46
You mean due to the effort?

[2022-11-21 21:51] PhilippMDoerner opened #47 "[Not an Issue] Why is ApplicationWindow required?"
Heyho everybody.
First of all, thank you very much for making this package! I am currently working my way through a couple QML tutorials and playing around with it.

I stumbled over something though:
One of my resources I look at are a series of youtube videos from KDAB about QML. There none of the examples require having an ApplicationWindow component that is set to be visible as the outer-most c

[2022-11-22 08:28] filcuc commented on #47
@PhilippMDoerner probably the KDAB examples use the [QQuickView ](https://doc.qt.io/qt-6/qquickview.html) or https://doc.qt.io/qt-5/qtquick-qmlscene.html. In those cases the loaded qml is directly the content item of the window so you don't have direct control of the window in qml. QQuickView was used in QtQuick1 from QtQuick2 on instead usually the Qt application is instatiate a QQmlApplicationEn

[2022-11-22 08:29] #47 closed

[2022-11-27 10:54] filcuc commented on #46
@ShalokShalom i'm not going to remove the defer until ORC/ARC becomes the default gc. Since it's not we will reconsider this in Nim v2 version

[2022-11-27 10:54] #46 closed